<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <title><%= content_for?(:title) ? yield(:title) : Buzurg::Application::APPLICATION_TITLE %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : Buzurg::Application::APPLICATION_TITLE %>"
    <meta name="author" content="">
    
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>

  </head>
  <body>
    <header>
        <%= render 'layouts/navigation' %>
    </header>

    <div id="main" role="main">
        <div class="container">
            <%= render 'layouts/messages' %>
            <%= yield %>
        
            <footer>
              <br/>
              &copy; <a href='http://raffles.in'><%= Buzurg::Application::APPLICATION_TITLE %></a> <%= Time.now.year %>
            </footer>
        </div> <!-- End of container -->
     
    </div> <!--! end of #main -->
  </body>
</html>
